page {
  padding-bottom: 90rpx;
}

.receive_address_row {
  .address_btn {
    padding: 30rpx;

    button {
      width: 70%;
    }
  }

  .user_info_row {
    display: flex;
    padding: 30rpx;

    border-bottom: 15rpx solid #dedede;

    .user_info {
      flex: 5;
    }

    .user_phone {
      flex-direction: 3;
      text-align: right;
    }
  }
}

.cart_content {

  .cart_title {
    padding: 25rpx;
    font-size: 45rpx;
    color: var(--themeColor);
    font-weight: 600;
  }

  .cart_main {
    .cart_item {
      display: flex;
      padding: 15rpx;
      border-bottom: 1rpx solid #ccc;

      .cart_ckb_wrap {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        checkbox-group {
          checkbox {}
        }
      }

      .cart_img_wrap {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        image {
          width: 80%;
        }
      }

      .cart_info_wrap {
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .goods_name {
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          color: rgb(37, 37, 37);
        }

        .goods_price_wrap {
          display: flex;
          justify-content: space-between;

          .goods_price {
            float: right;
            color: var(--themeColor);
            font-size: 34rpx;
          }

          .cart_num_tool {
            display: flex;

            .num_edit {
              width: 55rpx;
              height: 55rpx;
              display: flex;
              justify-content: center;
              align-items: center;
              border-bottom: 1rpx solid #ccc;
            }

            .goods_num {
              width: 55rpx;
              height: 55rpx;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }

      }
    }
  }
}

.fotter_tool {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90rpx;
  background-color: #fff;
  display: flex;
  border-top: 1rpx solid #ccc;

  .all_chk_wrap {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .total_price {
    flex: 5;
    text-align: right;
    padding: 20rpx 15rpx 0 0;

    .total_price_text {
      color: var(--themeColor);
      font-size: 34rpx;
      font-weight: 500;

    }
  }

  .order_pay_wrap {
    flex: 2;
    background-color: var(--themeColor);
    color: white;
    font-size: 32rpx;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.empty_page{
  background-color: var(--themeColor);
  height: 100vh;
  .cart_empty1{
    padding: 200rpx 0 20rpx 25rpx;
    // background-color: var(--themeColor);
    text {
      font-size: 46rpx;
      font-weight: 600;
      padding: 40rpx;
      color: #fff;
      // color: var(--themeColor);
    }
  }
  .cart_empty2{
    padding: 0 0 40rpx 25rpx;
    // background-color: var(--themeColor);
    text {
      font-size: 50rpx;
      font-weight: 600;
      padding: 40rpx;
      color: #fff;
      // color: var(--themeColor);
    }
  }
  
  .empty_button {
    float: left;
    padding-left: 65rpx;
    // background-color: var(--themeColor);
  
    button {
      // background-color: var(--themeColor);
      color: #000;
      width: 280rpx;
      height: 80rpx;
      padding-top: 24rpx;
      border-radius: 40rpx;
      font-size: 26rpx;
    }
  }
}
