.receive_address_row {
  .address_btn {
    padding: 30rpx;
    margin-top: 400rpx;

    button {
      background-color: var(--themeColor);
      color: #fff;
      width: 70%;
      padding-top: 26rpx;
      font-size: 28rpx;
      height: 90rpx;
      border-radius: 45rpx;
    }
  }

  .user_info_row {
    padding: 40rpx;
    border-bottom: 2rpx solid #eee;

    .user_info {
      .user_name {
        font-weight: 600;
        padding-bottom: 10rpx;
      }
      .user_phone {
        font-weight: 600;
        padding-bottom: 20rpx;
      }
      .user_address {
        
      }
      
    }

    
  }
}